<div class="container">
<div class= "text-center my-5"> 
<%= image_tag 'foto1.jpg', class: "w-50" %>
</div>

<h1 class= "text-center mb-5">Destino Playa </h1>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quo laudantium! Molestiae illum assumenda, ipsa libero, magnam quaerat ratione mollitia 
perferendis tenetur fugiat quidem saepe et accusantium consequuntur amet ex.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nam, eligendi corporis adipisci recusandae libero quis cumque, 
delectus modi repellendus ipsa, natus sint. Possimus ipsum quibusdam culpa veniam sit iste.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam impedit libero asperiores corporis quasi illum 
dolores cupiditate dignissimos molestias, quam sint maiores dolorum deserunt iure commodi iusto! Perferendis, nihil ut.</p>
<div class= "my-5 text-center">
<%= link_to 'Volver', :back, class: "btn btn-dark btn-sm" %>

</div>
</div>